{% extends 'main.html' %}

{% load static %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><img src="{% static 'images/thumbnail/BackButton.png/'%}"></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {%  csrf_token %}
                <!-- Input:Text -->
                {% for field in form %}
                <div class="form__field">
                    
                    <label for="formInput#text">{{field.label}} </label>
                    {{field}}
                    
                </div>

                {% endfor %}

                {% if update %}

                    <p class="tag-show">Existing tags:</p>
                    {% for tag in project.tags.all %}
                        <div class="tag-form" data-tag ="{{tag.name}}" data-project="{{project.id}}">{{tag}} <span>&#10539;</span></div>
                    {% endfor %}

                {% endif %}
                <div class="form__field">
                    
                    <label for="formInput#text">Add tags </label>
                    <textarea name="tagAdding" class="input" placeholder="Add tags here and separate each them with a single space"></textarea>
                    
                </div>
                

                <input style="display: block;" class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
    
</main>

{% endblock %}