{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'images/icon.svg' %}" alt="icon" />
        </a>
        <h3>Enter new password</h3>
        <p>Please enter your new password twice so we can verify you.</p>
      </div>

      <form action="" class="form auth__form" method="POST">
        {% csrf_token %}
        <!-- Input:Email -->
        
        <div class="form__field">
            <label for="formInput#email">New Password: </label>
            <input
              class="input input--email"
              id="formInput#email"
              type="password"
              name="new_password1"
              placeholder="************"
            />
        </div>

        <div class="form__field">
            <label for="formInput#email">Confirm password: </label>
            <input
              class="input input--email"
              id="formInput#email"
              type="password"
              name="new_password2"
              placeholder="************"
            />
        </div>

        {% for field in form %}

          {% for error in field.errors %}

              <p class="col6">{{error}}</p>

          {% endfor %}

        {% endfor %}

        

        <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Change my password" />
        </div>

      </form>
      
    </div>
  </div>



{% endblock %}